
body{
    font-family: 'Nunito', sans-serif;
  }
  .card{
      border-radius: 8px;
      background: #ffff;
      box-shadow: 0 20px 26px rgba(0, 0, 0, 0.3), 0 0 6px rgba(0, 0, 0, 0.3);
        transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 80px 28px 40px 26px;
    cursor: pointer;
  }
  
  .card:hover{
       transform: scale(1.1);
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .card h3{
    font-weight: 600;
  }
  
  .card img{
    position: absolute;
    top: 30px;
    right: 25px;
    max-height: 200px;
  }
  
  
  .card-1{
    background-image: url("../assets/abaca/abaca_dp/Abuab.jpg");
        background-repeat: no-repeat;
      background-position: right;
      background-size: 150px;
  }
  
  .card-2{
     background-image: url("../assets/abaca/abaca_dp/Inosa.jpg");
        background-repeat: no-repeat;
      background-position: right;
      background-size: 150px;
  }
  
  .card-3{
     background-image: url("../assets/abaca/abaca_dp/tangongon.jpg");
        background-repeat: no-repeat;
      background-position: right;
      background-size: 150px;
  }
  a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
  
  @media(max-width: 990px){
    .card{
      margin: 30;
    }
  } 